<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>{{ ( publication?.title_publication ) }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
    <ion-fab horizontal="end" vertical="top" slot="fixed" *ngIf="( (publication?.id_user === currentUserId) || (currentUserType === 1) || (currentUserType === 2))">
        <ion-fab-button>
            <ion-icon name="create-outline"></ion-icon>
        </ion-fab-button>
        <ion-fab-list>
            <ion-fab-button color="secondary" (click)="modifPublication(publication?.id_publication, publication?.id_user)">
                <ion-icon name="construct-outline"></ion-icon>
            </ion-fab-button>
            <ion-fab-button color="danger" (click)="presentAlertConfirm(publication?.id_publication)">
                <ion-icon name="trash-outline"></ion-icon>
            </ion-fab-button>
        </ion-fab-list>
    </ion-fab>

 <!-- <div *ngIf="publication?.id_user === currentUserId" style="text-align: center">
    <ion-button >Modifier la publication</ion-button>
  </div>-->
   <ion-card >
      <ion-item routerLink="/tabs/contacts/{{ (userDetails | async)?.id_user }}">
        <ion-avatar slot="start">
          <img [src]="(userDetails | async)?.photo_user">
        </ion-avatar>
        <ion-label>
          <h3> {{ (userDetails | async)?.prenom_user }} {{ (userDetails | async)?.nom_user | uppercase }}</h3>
          <p>{{ publication?.date_publication.seconds * 1000 | date:'yyyy-MM-dd HH:mm'  }}</p>
        </ion-label>
      </ion-item>

      <img [src]="publication?.photo_publication" alt="ion">
      <ion-card-header>
        <ion-card-title>{{ publication?.title_publication }}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        {{ publication?.description_publication }}
      </ion-card-content>
    </ion-card>  

    <ion-card class="comment_card" *ngFor="let com of comments ">
      <ion-item >
        <ion-avatar slot="start" class="ion-align-items-center">
          <img [src]="(com.user_name | async)?.photo_user">
        </ion-avatar>
        <ion-label>
          <h3> {{ (com.user_name | async)?.prenom_user }} {{ (com.user_name | async)?.nom_user | uppercase }} </h3>
          <p>{{ com?.commentDate.seconds * 1000 | date:'yyyy-MM-dd HH:mm' }}</p>
        </ion-label>
      </ion-item>
        <ion-grid style="padding:0">
            <ion-row>
                <ion-col size="10">
                    <ion-item  class="comment_text" lines="none">{{com?.commentcontent}}</ion-item>
                </ion-col>
                <ion-col size="2" >
                    <ion-button fill="clear" (click)="deleteComment(com?.id_comment)" *ngIf="( (com?.comment_creator === currentUserId) || (currentUserType === 1) || (currentUserType === 2))">
                        <ion-icon color="danger" name="trash-outline"></ion-icon>
                    </ion-button>
                </ion-col>
            </ion-row>
        </ion-grid>
    </ion-card>

    <ion-card class="add_comment_card" >
      <ion-item class="add_comment_text" lines="none">
        <ion-input placeholder="Nouveau commentaire..." [(ngModel)]="new_comment"></ion-input>
        <ion-button *ngIf="new_comment.length > 0" (click)="add_comment()">Ajouter</ion-button>
      </ion-item>
    </ion-card>
     


   
</ion-content>
