ion-thumbnail{
	width: 22%;

	& img{
		border-radius: 15px 15px 15px 15px;
		-moz-border-radius: 15px 15px 15px 15px;
		-webkit-border-radius: 15px 15px 15px 15px;
		border: 0px solid #000000;
	}
	
}

h4{
	color:#13459f;
}

h2{
	font-weight: bold;
}

.gold-item{
	border-left: 5px outset gold;
}

.abortedEvnt{
	color: red;
	font-weight: bold;
}

.brand_img{
	width:50%;
  }