.container_elt{
  padding-top: 50%;
  //padding-bottom: 50%
 


}

.go-to-register{
  bottom:0px
}

.error-message{
  color:red;
}

ion-content.background{
    --background: url(../../assets/images/acensi_logo.png) no-repeat center center / cover;
}

ion-footer{
  text-align: center
}

.mdp-oubli{
  color: white;
  margin-left: 5px;
}