<!-- <ion-header>
  <ion-toolbar >
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content padding class="background">
 

  <ng-container *ngIf="showForgottenPswd === false && isLoading===false">
    <form class="container_elt" [formGroup]="validations_form"  (ngSubmit)="loginUser(validations_form.value)">
      <ion-grid style="height: 100%">
        <ion-row >  
          <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">  
              <ion-item>
                <ion-label  position="floating" color="primary">E-mail</ion-label>
                <ion-input type="text" formControlName="email"></ion-input>
              </ion-item>
              <div class="validation-errors">
                <ng-container *ngFor="let validation of validation_messages.email">
                  <div class="error-message" *ngIf="validations_form.get('email').hasError(validation.type) && (validations_form.get('email').dirty || validations_form.get('email').touched)">
                    {{ validation.message }}
                  </div>
                </ng-container>
              </div>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
              <ion-item>
                <ion-label  position="floating" color="primary">Mot de passe</ion-label>
                <ion-input type="password" formControlName="password" class="form-controll" required></ion-input>
            </ion-item>
            
            
            <div class="validation-errors">
              <ng-container *ngFor="let validation of validation_messages.password">
                <div class="error-message" *ngIf="validations_form.get('password').hasError(validation.type) && (validations_form.get('password').dirty || validations_form.get('password').touched)">
                  {{ validation.message }}
                </div>
              </ng-container>
            </div>
            </ion-col>
          </ion-row>
          <ion-label class="mdp-oubli" (click)="recover_mail()">Mot de passe oublié ?</ion-label>
          <ion-row style="text-align: right">
            <ion-col>
              <ion-button color="light" fill="outline" class="submit-btn" type="submit"  [disabled]="!validations_form.valid">Se connecter</ion-button>
            </ion-col>
          </ion-row>
          <ion-row >
            <ion-col>
              <label class="error-message">{{errorMessage}}</label>
            </ion-col>
          </ion-row>


        </ion-grid>
      </form>
  </ng-container>
  
    <ng-container *ngIf="showForgottenPswd === true && isLoading===false"  >
      <div class="container_elt">
        <ion-grid style="height: 100%">
          <ion-row class="ion-align-self-center">  
            <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">  
              <ion-item>
                <ion-label  position="floating" color="primary">E-mail</ion-label>
                <ion-input type="text" #mail></ion-input>
              </ion-item>
            </ion-col>
          </ion-row>
          <ion-row >
            <ion-col style="text-align: left">
              <ion-button color="danger" (click)="cancelPwdMail()" >Annuler</ion-button>
            </ion-col>
            <ion-col style="text-align: right">
              <ion-button (click)="sendMail(mail.value)" >Reinitialiser</ion-button>
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>
    </ng-container>

    <ng-container *ngIf="isLoading===true" >
      <div class="loading">
        <ion-spinner name="crescent"></ion-spinner>
      </div>
    </ng-container>
 

  
  <!-- <ion-button routerLink="/tabs/tab1">
    Go to activies
  </ion-button>   -->
 

</ion-content>

<!-- Footer without a border -->
<ion-footer >
  <ion-toolbar>
    <p>Pas encore inscrit? <a (click)="goToRegisterPage()">Créer un compte.</a></p>
  </ion-toolbar>
</ion-footer>

<!-- <ion-footer>
  <p class="go-to-register footer">
    Pas encore inscrit? <a (click)="goToRegisterPage()">Créer un compte.</a>
  </p>
</ion-footer> -->
