
<ion-tabs>

  <ion-tab-bar slot="bottom">
    
    

    <ion-tab-button tab="publications" (click)="onTop()">
      <ion-icon name="newspaper-outline"></ion-icon>
      <ion-label>Actualités</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="evenements">
      <ion-icon name="rocket-outline"></ion-icon>
      <ion-badge color="warning">{{nbEventToCome}}</ion-badge>
      <ion-label>Evénements</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="photos">
      <ion-icon name="camera-outline"></ion-icon>
      <ion-label>Photos</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="contacts">
      <ion-icon name="people-outline"></ion-icon>
      <ion-label>Contacts</ion-label>
    </ion-tab-button>

    <ion-tab-button (click)="seeNotif($event)" class="notif">

        <ion-icon name="notifications-outline" class="icon_notif"></ion-icon>
        <ion-badge *ngIf="newItems?.length > 0" color="warning">{{newItems?.length}}</ion-badge>
        <!-- <ion-badge color="warning">5</ion-badge> -->

    </ion-tab-button>

  </ion-tab-bar>

</ion-tabs>
