
<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="publications">
      <ion-icon name="newspaper-outline"></ion-icon>
      <ion-label>Actualités</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="evenements">
      <ion-icon name="rocket-outline"></ion-icon>
      <ion-label>Evénements</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="contacts">
      <ion-icon name="people-outline"></ion-icon>
      <ion-label>Contacts</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
