<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <!-- <ion-title>Modifier</ion-title> -->
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true" slot="fixed">
  <div class="card-body">
    <form class="form" [formGroup]="modifEvntForm" (submit)="modifEvenement()">
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-item >
              <ion-thumbnail slot="start" class="apercu_photo">
                <ion-img [src]="evenement?.photo_evnt"></ion-img>
              </ion-thumbnail>
            </ion-item>
            <ion-item>
              <input (change)="uploadImage($event)" type="file" class="image-upload" accept="image/*">
            </ion-item>
          </ion-col>
        </ion-row>


        <ion-row>
          <ion-col>
            <ion-item>
              <ion-label position="floating" color="primary">Titre</ion-label>
              <ion-input formControlName="title_evnt" type="text" [ngModel]="evenement?.title_evnt"> </ion-input>
            </ion-item>
          </ion-col>
        </ion-row>
        
        <ion-row>
          <ion-col>
            <ion-item>
              <ion-label position="floating" color="primary">Description</ion-label>
              <ion-textarea
                formControlName="description_evnt"
                type="text"
                [ngModel]="evenement?.description_evnt"
              >
              </ion-textarea>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row style="text-align: right">
          <ion-col>
            <ion-button  class="submit-btn" type="submit" [disabled]="!modifEvntForm.valid">
              Modifier
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </form>
  </div>
</ion-content>