<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <!-- <ion-title>Modifier</ion-title> -->
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true" slot="fixed">
  <div class="card-body">
    <form class="form" [formGroup]="modifEvntForm" (submit)="modifEvenement()">
      <ion-grid>

<!--        photo de l'event-->
        <ion-row>
          <ion-col>
            <ion-item >
              <ion-thumbnail slot="start" class="apercu_photo">
                <ion-img [src]="evenement?.photo_evnt"></ion-img>
              </ion-thumbnail>
            </ion-item>
            <ion-item>
              <input (change)="uploadImage($event)" type="file" class="image-upload" accept="image/*">
            </ion-item>
          </ion-col>
        </ion-row>

<!--        date de l'event-->
        <ion-row>
          <ion-col>
            <ion-item>
              <ion-icon name="calendar-outline"></ion-icon>
              <!-- <ion-label>D MMM YYYY H:mm</ion-label> -->
              <ion-datetime [min]="date_min" [ngModel]="displayedDate" placeholder="Date" formControlName="datetime_evnt" displayFormat="D MMM YYYY H:mm"  max="2050" ></ion-datetime>
            </ion-item>
          </ion-col>
        </ion-row>

<!--        titre de l'event-->
        <ion-row>
          <ion-col>
            <ion-item>
              <ion-label position="floating" color="primary">Titre</ion-label>
              <ion-input formControlName="title_evnt" type="text" [ngModel]="evenement?.title_evnt"> </ion-input>
            </ion-item>
          </ion-col>
        </ion-row>

<!--        description de l'event-->
        <ion-row>
          <ion-col>
            <ion-item>
              <ion-label position="floating" color="primary">Description</ion-label>
              <ion-textarea
                formControlName="description_evnt"
                type="text"
                [ngModel]="evenement?.description_evnt"
              >
              </ion-textarea>
            </ion-item>
          </ion-col>
        </ion-row>

        <!-- si evenement officiel ou non -->
        <ion-row *ngIf="currentUserType === 1 || currentUserType === 2">
          <ion-col>
            <ion-item>
              <ion-label>Evenement Officiel</ion-label>
              <ion-toggle  [ngModel]="evenement?.is_admin_level" formControlName="evnt_official" slot="start" name="official" color="warning"></ion-toggle>
            </ion-item>
          </ion-col>
        </ion-row> 

<!--        localisation de l'event-->
        <ion-row>
          <ion-col>
            <ion-searchbar [ngModelOptions]="{standalone: true}" [(ngModel)]="autocomplete.input" (ionInput)="updateSearchResults()" placeholder="Search for a place"></ion-searchbar>
            <ion-list [hidden]="autocompleteItems.length == 0">
              <ion-item *ngFor="let item of autocompleteItems" tappable (click)="selectSearchResult(item)">
                {{ item.description }}
              </ion-item>
            </ion-list>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col>
            <ion-item>
              {{location?.description}}
            </ion-item>
          </ion-col>
        </ion-row>


        <ion-row style="text-align: right">
          <ion-col>
            <ion-button  class="submit-btn" type="submit" [disabled]="!modifEvntForm.valid">
              Modifier
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </form>
  </div>
</ion-content>