<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true" slot="fixed" >
   <div class="card">
      <div class="header">
        <div class="avatar">
          <!-- <img src="../../../assets/images/player104.png" alt=""> -->
          <img [src]="(contact | async)?.photo_user" alt="">
        </div>
      </div>
      <div class="card-body">
        <div class="user-meta ion-text-center">
          <h3 class="name"> {{ (contact | async)?.nom_user }} {{ (contact | async)?.prenom_user }}</h3>
          <h5 class="localisation">{{ getLocalisation((contact | async)?.id_localisation) }}</h5>
          <!-- <h5 class="localisation">{{ (contact | async)?.id_localisation }}</h5> -->
          <h6 class="ranking"><ion-chip>
              <ion-label>{{ (contact | async)?.poste }}</ion-label>
            </ion-chip>
          </h6>
        </div>
 
        <ion-button #pute (click)="sendMail(contact)" expand="full" color="primary">{{ (contact | async)?.adresse_mail }}</ion-button>

        <ion-list>

          <ion-item-group>
            <ion-item-divider style="font-size: larger">
              <ion-label>Coordonnées</ion-label>
            </ion-item-divider>

            <ion-item class="adress_item" lines="none" >
              <ion-label>{{ (contact | async)?.adresse_user_rue }}</ion-label>
            </ion-item>
             <ion-item class="adress_item" lines="none" >
              <ion-label>{{ (contact | async)?.adresse_user_code_postal }}</ion-label>
            </ion-item>
             <ion-item class="adress_item" lines="none"  >
              <ion-label>{{ (contact | async)?.adresse_user_localite }}</ion-label>
            </ion-item>
          </ion-item-group>
        </ion-list>

          <!-- <div *ngFor="let item of contact | async | keyvalue">
            {{ item.key }} : {{ item.value |json }}
          </div>  -->

      </div>
    </div>
</ion-content>
