<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>{{ ( evenement?.title_evnt ) }}</ion-title>

  </ion-toolbar>
</ion-header>


<ion-content no-padding>
  <ion-fab horizontal="end" vertical="top" slot="fixed" *ngIf="((evenement?.id_user === currentUserId) || (currentUserType === 1) || (currentUserType === 2))">
    <ion-fab-button>
      <ion-icon name="arrow-down-circle"></ion-icon>
    </ion-fab-button>
    <ion-fab-list>
      <ion-fab-button color="secondary" (click)="modifEvenement(evenement?.id_evnt, evenement?.id_user)">
        <ion-icon name="construct-outline"></ion-icon>
      </ion-fab-button>
      <ion-fab-button *ngIf="evenement?.evnt_active === true" color="warning" (click)="presentAlertConfirmAbort(evenement?.id_evnt)">
        <ion-icon name="flash-off-outline"></ion-icon>
      </ion-fab-button>
      <ion-fab-button *ngIf="evenement?.evnt_active === false" color="warning" (click)="activeEvent(evenement?.id_evnt)">
        <ion-icon name="flash-outline"></ion-icon>
      </ion-fab-button>
      <ion-fab-button color="danger" (click)="presentAlertConfirm(evenement?.id_evnt)">
        <ion-icon name="trash-outline"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>

<!--  <div *ngIf="evenement?.id_user === currentUserId" style="text-align: center">
    <ion-button (click)="modifEvenement(evenement?.id_evenement, evenement?.id_user)">Modifier l'evenement</ion-button>
  </div>-->
   <ion-card >
     <img [src]="evenement?.photo_evnt" alt="ion">
      <ion-card-header>
        <h4 *ngIf="evenement?.evnt_active === true" class="remainingTime">DANS {{ getRemainingTime(evenement?.date_evnt) | uppercase }}</h4>
        <h4 *ngIf="evenement?.evnt_active === false" class="abortedEvnt">CET EVENEMENT EST ANNULE</h4>
        <ion-card-title class="title_event ion-text-capitalize">{{ evenement?.title_evnt  }}</ion-card-title>
        <ion-card-subtitle class="ion-text-capitalize">{{ evenement?.lieu_evnt }}</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content fullscreen>
        <!--<ion-item lines="none">
          <ion-icon name="people-outline" slot="start" style="padding-right: 5%;"></ion-icon>
          <ion-label>
            <p>Nombre de participant : 34</p>
          </ion-label>
        </ion-item>-->
        <ion-item lines="none">
          <ion-icon name="radio-outline" slot="start" style="padding-right: 5%;"></ion-icon>
          <ion-label>
            <p>
              Organisé par : <a routerLink="/tabs/contacts/{{(userDetails | async)?.id_user}}">
                          {{ (userDetails | async)?.nom_user }} {{ (userDetails | async)?.prenom_user }}
                          </a>
            </p>
          </ion-label>
        </ion-item>
        <ion-item lines="none">
          <ion-icon name="trail-sign-outline" slot="start" style="padding-right: 5%;"></ion-icon>
          <ion-label>
            <p>{{ evenement?.lieu_evnt }}</p>
          </ion-label>
        </ion-item>
        <ion-item style="font-size:smaller">
          {{ evenement?.description_evnt }}
        </ion-item>
      </ion-card-content>
   </ion-card>

  <!-- liste des commentaires -->
  <ion-card class="comment_card" *ngFor="let com of comments ">
    <ion-item >
      <ion-avatar slot="start" class="ion-align-items-center">
        <img [src]="(com.user_name | async)?.photo_user">
      </ion-avatar>
      <ion-label>
        <h3> {{ (com.user_name | async)?.nom_user }} {{ (com.user_name | async)?.prenom_user }} </h3>
        <p>{{ com?.commentDate.seconds * 1000 | date:'yyyy-MM-dd HH:mm' }}</p>
      </ion-label>
    </ion-item>
    <ion-grid style="padding:0">
      <ion-row>
        <ion-col size="10">
          <ion-item  class="comment_text" lines="none">{{com?.commentcontent}}</ion-item>
        </ion-col>
        <ion-col size="2" >
          <ion-button fill="clear" (click)="deleteComment(com?.id_comment)" *ngIf="( (com?.comment_creator === currentUserId) || (currentUserType === 1) || (currentUserType === 2))">
            <ion-icon color="danger" name="trash-outline"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>

  <ion-card class="add_comment_card" >
    <ion-item class="add_comment_text" lines="none">
      <ion-input placeholder="Nouveau commentaire..." [(ngModel)]="new_comment"></ion-input>
      <ion-button *ngIf="new_comment.length > 0" (click)="add_comment()">Ajouter</ion-button>
    </ion-item>
  </ion-card>

</ion-content>
