<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Actualités
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

    <ion-card *ngFor="let pub of publicationsList | async "
      >
<!-- routerLink="/tabs/publications/{{pub.id_publication}}" -->
      <ion-item routerLink="/tabs/contacts/{{pub.users[0].id_user}}">
        <!-- <a routerLink="/tabs/contacts/{{pub.users[0].id_user}}"> -->
        <ion-avatar slot="start">
          <!-- <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y"> -->
          <img [src]="pub.users[0].photo_user">
        </ion-avatar>
        <ion-label routerLink="/tabs/contacts/{{pub.users[0].id_user}}">
          <h3> {{ pub.users[0].nom_user }} {{ pub.users[0].prenom_user }}</h3>
          <p>{{ pub.date_publication.seconds * 1000 | date:'yyyy-MM-dd HH:mm:ss'  }}</p>
        </ion-label>
        <!-- </a> -->
      </ion-item>
      <div routerLink="/tabs/publications/{{pub.id_publication}}">
        <img src="https://resize-elle.ladmedia.fr/rcrop/638,,forcex/img/var/plain_site/storage/images/loisirs/evasion/les-plus-belles-plages-du-monde/53585158-6-fre-FR/Ou-sont-les-plus-belles-plages-du-monde.jpg" alt="ion">
        <ion-card-header >
          <ion-card-title>{{ pub.title_publication }}</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          {{ pub.description_publication }}
        </ion-card-content>
      </div>
      <ion-footer>
        <ion-row style="text-align: center">
          <ion-col center text-center>
            <button class="footer-button-card">
              <ion-icon name="thumbs-up"></ion-icon>
              <div>1.5k Likes</div>
            </button>
          </ion-col>
          <ion-col center text-center>
            <button class="footer-button-card">
              <ion-icon name="text"></ion-icon>
              <div>4 Comments</div>
            </button>
          </ion-col>
          <ion-col center text-center>
            <button class="footer-button-card">
              <ion-icon name="time"></ion-icon>
                <div>11h ago</div>
            </button>
          </ion-col>
        </ion-row>
      </ion-footer>
    </ion-card> 

    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
      <ion-fab-button routerLink="/tabs/publications/new"> 
        <ion-icon name="add"></ion-icon>
      </ion-fab-button>
    </ion-fab>
  
    <!-- <div *ngFor="let item of publicationsList | async | keyvalue">
    {{ item.key }} : {{ item.value |json }}
  </div> -->

</ion-content>
