ion-content ion-toolbar {
  //--background: translucent;
}

.back{
  background-color: #dfdfdf;
}

.footer-button-card{
  background-color: transparent;
}

.brand_img{
  width:50%;
}

.container_title_desc{
  background-color: #f4f0f0;
}

ion-card-title{
  font-weight: bold;
}