<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Actualités
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content >
   <!-- <div *ngFor="let item of testValues | async | keyvalue">
    {{ item.key }} : {{ item.value |json }}
  </div> -->

  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
    <ion-card *ngFor="let pub of publicationsList">
      <ion-item *ngIf="pub.id_user !== null" routerLink="/tabs/contacts/{{pub.id_user}}">
        <ion-avatar slot="start">
          <img [src]="pub.id_user ? getUserPhoto(pub.id_user) : ''">
        </ion-avatar>
        <ion-label routerLink="/tabs/contacts/{{pub.id_user}}">
          <h3> {{ pub.id_user ? getName(pub.id_user) : '' }} {{ pub.id_user ? getLastName(pub.id_user) : '' }}</h3>
          <!-- <p>{{ pub.date_publication.seconds * 1000 | date:'yyyy-MM-dd HH:mm:ss'  }}</p> -->
          <p>{{ pub.date_publication.seconds * 1000 | dateAgo }}</p>
        </ion-label>
      </ion-item> 
      <div routerLink="/tabs/publications/{{pub.id_publication}}">
        <img [src]="pub.photo_publication" alt="ion">
        <ion-card-header >
          <ion-card-title>{{ pub.title_publication }}</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          {{ pub.description_publication }}
        </ion-card-content>
      </div>
      <ion-footer>
        <ion-row style="text-align: center">
          <ion-col center text-center>
            <button class="footer-button-card">
              <ion-icon name="thumbs-up"></ion-icon>
              <div>1.5k Likes</div>
            </button>
          </ion-col>
          <ion-col center text-center>
            <button class="footer-button-card">
              <ion-icon name="text"></ion-icon>
              <div>4 Comments</div>
            </button>
          </ion-col>
          <ion-col center text-center>
            <button class="footer-button-card">
              <ion-icon name="time"></ion-icon>
                <div>11h ago</div>
            </button>
          </ion-col>
        </ion-row>
      </ion-footer>
    </ion-card> 

    
   <ion-fab vertical="bottom" horizontal="end" slot="fixed">
      <ion-fab-button routerLink="/tabs/publications/new"> 
        <ion-icon name="add"></ion-icon>
      </ion-fab-button>
    </ion-fab>
   

</ion-content>
