

.back{
  background-color: #dfdfdf;
}

.footer-button-card{
  background-color: transparent;

  & ion-icon{
    font-size: 20px;
    color: #134E9A;
  }

  & ion-label {
    position: relative;
    bottom : 4px;
  }
}

.brand_img{
  max-width:50%;
}

.container_title_desc{
  background-color: #f4f0f0;
}

ion-card-title{
  font-weight: bold;
}

.footer_likes_com{

  & ion-icon{
    background: #134E9A;
    padding:5px;
    border-radius: 50%;
    color:white
  }

  & ion-label{
    position: relative;
    bottom: 6px;
  }
  
  & .footer-comm{
    position: relative;
    bottom: -3px;
    background-color: transparent;
  }

  padding-left:10px;
 
}

.bookmark{
  position: relative;
  right: -15px;
}


ion-card {
  --ion-background-color: white;
  -webkit-box-shadow: 4px 7px 10px -2px rgba(0,0,0,0.75);
  -moz-box-shadow: 4px 7px 10px -2px rgba(0,0,0,0.75);
  box-shadow: 4px 7px 10px -2px rgba(0,0,0,0.75);
}

// .card{
//   --ion-background-color: white;
// }